form {
  /*! flex: fit-content; */
  display: grid;
}
form > * {
  margin-top: 10px;
  padding: 10px;
}
.list-container {
  display: grid;
  /*! flex-wrap: wrap; */
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  /*! border-radius: 20px; */
  /*! background-color: #121212; */
  /*! padding: 30px 20px; */
}
.list-item {
  /*! flex-basis: 50vh; */
  border-radius: 20px;
  background-color: #121212;
  padding: 30px 20px;
  margin: 20px;
}
.list-item.favorite {
  background-color: gold;
  color: black;
}
.list-item.title {
  margin: 0 0 25px;
  overflow: hidden;
  font-weight: bold;
  font-size: 30px;
  color: #FFF;
}
