.spacecraft-card {
  border-radius: 10px !important;
  border: 1px solid #d7935e;
  background-color: #121212 !important;
  color: #f4e8ce !important;
  padding: 0 20px 10px;
}
.card-text {
  margin-top: 10px;
}
.card-text > .important {
  color: #d7935e;
}
.spacecraft-card.favorite > div > .card-text > .important {
  color: #fee818;
}
.spacecraft-card.favorite {
  border: 2px solid #fee818;
}
.spacecraft-card.favorite > div > .card-title {
  color: #fee818;
}
.spacecraft-card.favorite > div > .card-button {
  color: #fee818;
  border-color: #fee818;
}
.spacecraft-card > div > .card-button {
  color: #d7935e;
  border-color: #d7935e;
}